[Unit]
Description=momo for jetbox, RC car control subsystem
After=network.target

[Service]
ExecStart=/opt/jetbox/momo/momo --no-audio-device test
User=root
WorkingDirectory=/opt/jetbox/momo

[Install]
WantedBy=multi-user.target