[Unit]
Description=momo for jetbox, RC car control subsystem
After=network.target jetbox_virtual_camera.service

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/opt/jetbox/momo/momo --hw-mjpeg-decoder=false --video-device /dev/video1 --no-audio-device test
User=root
WorkingDirectory=/opt/jetbox/momo

[Install]
WantedBy=multi-user.target